
@{
    ViewData["Title"] = "Customer";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}


@section Css{
<link href="~/css/admin/adcustomer.css" rel="stylesheet" />
    
}
<div class="h main-form">
    <span class="h title-customer">
        TRANG QUẢN KHÁCH HÀNG
        <span class="h bnt-add-customer" data-toggle="modal" data-target="#insert-customer">+ Thêm mới</span>
    </span>

    @*hien thi product*@
    <div class="h table-customer" id="item-customer">
        <div class="h head-table-customer">
            <span class="h item-table-customer">Ảnh</span>
            <span class="h item-table-customer">Mã KH</span>
            <span class="h item-table-customer">Tên KH</span>
            <span class="h item-table-customer">SĐT</span>
            <span class="h item-table-customer">Email</span>
            <span class="h item-table-customer">Địa chỉ</span>
            <span class="h item-table-customer">Trang thái</span>
            <span class="h item-table-customer">Chức năng</span>
        </div>

        @*<div class="h body-customer">
            <span class="h item-table-customer">Ảnh</span>
            <span class="h item-table-customer">Mã KH</span>
            <span class="h item-table-customer">Tên KH</span>
            <span class="h item-table-customer">SĐT</span>
            <span class="h item-table-customer">Email</span>
            <span class="h item-table-customer">Địa chỉ</span>
            <span class="h item-table-customer">Trang thái</span>
            <span class="h item-table-customer">Chức năng</span>
        </div>*@
    </div>

    @*Thêm customer*@
    <div class="modal fade" id="insert-customer" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Thêm sản khách hàng </h4>
                </div>
                <div class="h modal-body-customer">
                    <div class="h dl-sm-it">
                        <span class="h insert-cus">Tên khách hàng: </span>
                        <input class="h insert-pr-input" id="txtnamecustomer" type="text" />
                    </div>
                    <div class="h dl-sm-it">
                        <span class="h insert-cus">Số điện thoại: </span>
                        <input class="h insert-pr-input" id="txtnumberphone" type="number" />
                    </div>
                    <div class="h dl-sm-it">
                        <span class="h insert-cus">Email: </span>
                        <input class="h insert-pr-input" id="txtemail" type="email" />
                    </div>
                    <div class="h dl-sm-it">
                        <span class="h insert-cus">Địa chỉ: </span>
                        <input class="h insert-pr-input" id="txtaddress" type="text" />
                    </div>

                    <div class="h dl-sm-it">
                        <span class="h insert-cus" id="select-cus">Trạng thái: </span>
                        <select name="selector1" id="sl-ativity-cs" class="h insert-prduct-select ">
                            <option value="0">Còn hoạt động</option>
                           @* <option value="1">Ngừng hoạt động</option>*@
                            
                        </select>
                    </div>

                    <div class="h dl-sm-it">
                        <span class="h insert-cus">Hình: </span>
                        <input class="h insert-pr-input" id="txtpicture" type="file" />

                    </div>

                    @*<span class="k dl-bnt-save" onclick="updateChiBo()">Cập nhật</span>*@
                </div>
                <div class="modal-footer">
                    <button type="button" class="k btn btn-default" data-dismiss="modal">
                        Đóng
                    </button>
                    <span type="button" class="h btn-insert" onclick="insertcustomer()">
                        <i class="fa fa-paper-plane-o" aria-hidden="true"></i>
                        Cập nhật
                    </span>
                </div>
            </div>

        </div>
    </div>

</div>



@section Script{

    <script src="~/js/admin/adcustomer.js"></script>
}

