
@{
    ViewData["Title"] = "LineProduct";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@section Css{
    <link rel="stylesheet" type="text/css" href="~/css/admin/adlineproduct.css">
}
    <div class="h main-form">
     
        <span class="h title-linepr">
            TRANG CẬP NHẬT LOẠI SẢN PHẦM
            <span class="h bnt-add-linepr" data-toggle="modal" data-target="#insert-linepr">+ Thêm mới</span>
        </span>
        <div class="h table-linepr" id="item-linnepr">
            <div class="h head-table">
                <span class="h item-table">Ảnh</span>
                <span class="h item-table">Mã loại</span>
                <span class="h item-table">Tên loại</span>
                <span class="h item-table">Ghi chú</span>
                <span class="h item-table">Ngày tạo</span>
                <span class="h item-table">Chức năng</span>
            </div>
            @*<div class="h body-table">
                <span class="h item-table">Ảnh</span>
                <span class="h item-table">Mã loại</span>
                <span class="h item-table">Tên loại</span>
                <span class="h item-table">Ghi chú</span>
                <span class="h item-table">Ngày tạo</span>
                <span class="h item-table">
                    <i class="fa fa-pencil-square-o icon-edit" aria-hidden="true"></i>
                    <i class="fa fa-trash-o icon-edit" aria-hidden="true"></i>
                </span>
            </div>*@
        </div>
        @*add line product*@
        <div class="modal fade" id="insert-linepr" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Thêm loại sản phẩm</h4>
                    </div>
                    <div class="h modal-body">
                        <div class="h dl-sm-it">
                            <span class="h insert-pr">Tên Loại: </span>
                            <input class="h insert-pr-input" id="txtlinename" type="text" />
                        </div>
                        <div class="h dl-sm-it">
                            <span class="h insert-pr">Ghi Chú: </span>
                            <textarea class="h insert-pr-input" id="txtnote" type="text"> </textarea>
                        </div>

                        <div class="k dl-sm-it">
                            <span class="h insert-pr" id="sl-db-active">Ngày thành lập: </span>
                            <div class="form-group">
                                <div class='input-group date' id='datepicker-linecrday'>
                                    <input type='text' class="form-control" id="txtcreateday" />
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="h dl-sm-it">
                            <span class="h insert-pr">Anh: </span>
                            <input class="h insert-pr-input" id="txtpicture" type="file" />

                        </div>

                        @*<span class="k dl-bnt-save" onclick="updateChiBo()">Cập nhật</span>*@
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="k btn btn-default" data-dismiss="modal">
                            Đóng
                        </button>
                        <span type="button" class="h btn-insert" onclick="insertLineProduct()">
                            <i class="fa fa-paper-plane-o" aria-hidden="true"></i>
                            Cập nhật
                        </span>
                    </div>
                </div>

            </div>
        </div>
        @*Editlineproduct*@
        <div class="modal fade" id="linepr-edit" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Cập nhật loại sản phẩm</h4>
                    </div>
                    <div class="h modal-body">
                        <div class="h dl-sm-it">
                            <span class="h insert-pr">Tên Loại: </span>
                            <input class="h insert-pr-input" id="txtlinename-edit" type="text" />
                        </div>
                        <div class="h dl-sm-it">
                            <span class="h insert-pr">Ghi Chú: </span>
                            <textarea class="h insert-pr-input" id="txtnote-edit" type="text"> </textarea>
                        </div>

                        <div class="k dl-sm-it">
                            <span class="h insert-pr">Ngày thành lập: </span>
                            <div class="form-group">
                                <div class='input-group date' id='datepicker-lineupdate'>
                                    <input type='text' class="form-control" id="txtcreateday-edit" />
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="h dl-sm-it">
                            <span class="h insert-pr">Anh: </span>
                            <input class="h insert-pr-input" id="txtpicture-edit" type="file" />

                        </div>

                        @*<span class="k dl-bnt-save" onclick="updateChiBo()">Cập nhật</span>*@
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="k btn btn-default" data-dismiss="modal">
                            Đóng
                        </button>
                        <span type="button" class="h btn-insert" onclick="updateLineProduct()">
                            <i class="fa fa-paper-plane-o" aria-hidden="true"></i>
                            Cập nhật
                        </span>
                    </div>
                </div>

            </div>
        </div>

    </div>

@section Script{
   
    <script src="~/js/admin/adlineproduct.js"></script>
}

