@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@section css{


}
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">WebSiteName</a>
        </div>

        <form class="navbar-form navbar-left" action="/action_page.php">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search" name="search">
                <div class="input-group-btn">
                    <button class="btn btn-default" type="submit">
                        <i class="glyphicon glyphicon-search"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>
</nav>
<h2>Hover Rows</h2>
<div style="float:right;margin-bottom:10px;margin-right:40px;">
    <a asp-action="addlineproduct" asp-controller="admin"><button type="submit" class="btn btn-success">Create</button></a>
</div>
@*<div>
        <a asp-action="addlineproduct" asp-controller="admin"><button type="submit" class="btn btn-success">Create</button></a>
    </div>*@

<table class="table table-hover"h>
    <thead>
        <tr>
            <th>Mã loại</th>
            <th>Tên loại</th>
            <th>Mô tả</th>
            <th>Ngày tạo</th>
            <th>Hình</th>
            <th>Chức năng</th>

        </tr>
    </thead>
    <tbody id="lineproduct"></tbody>
</table>

@section script{

    <script src="~/js/admin/jquery.nicescroll.js"></script>
    
    <script src="~/js/admin/config.js"></script>
    <script src="~/js/admin/lineproduct/LineProduct.js"></script>
    <script src="~/js/admin/lineproduct/editLineProduct.js"></script>

    <script src="~/js/admin/lineproduct/addeletelineproduct.js"></script>


}
