
@{
    ViewData["Title"] = "ProductInsert";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@section css{


    <script src="https://cdn.ckeditor.com/4.13.0/standard/ckeditor.js"></script>
    <link href="~/css/bootstrap-datetimepicker.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link href="//cdn.rawgit.com/Eonasdan/bootstrap-datetimepicker/e8bddc60e73c1ec2475f827be36e1957af72e2ea/build/css/bootstrap-datetimepicker.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css">
}


<div class="header-main">
    <div class="logo-w3-agile">
        <h1><a href="index.html">Pooled</a></h1>
    </div>
    <div class="w3layouts-left">

        <form class="navbar-form navbar-left">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search" required="">
                <div class="input-group-btn">
                    <button class="btn btn-default" type="submit">
                        <i class="glyphicon glyphicon-search"></i>
                    </button>
                </div>
            </div>
        </form>

        <div class="clearfix"> </div>
    </div>
    <div class="w3layouts-right">
        <div class="profile_details_left">
            <!--notifications of menu start -->
            <ul class="nofitications-dropdown">
                <li class="dropdown head-dpdn">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-envelope"></i><span class="badge">3</span></a>
                    <ul class="dropdown-menu">
                        <li>
                            <div class="notification_header">
                                <h3>You have 3 new messages</h3>
                            </div>
                        </li>
                        <li>
                            <a href="#">
                                <div class="user_img"> <img src="~/images/big/in8.jpg" /></div>
                                <div class="notification_desc">
                                    <p>Lorem ipsum dolor</p>
                                    <p><span>1 hour ago</span></p>
                                </div>
                                <div class="clearfix"></div>
                            </a>
                        </li>
                        <li class="odd">
                            <a href="#">
                                <div class="user_img">

                                    <img src="~/images/big/in10.jpg" />
                                </div>
                                <div class="notification_desc">
                                    <p>Lorem ipsum dolor </p>
                                    <p><span>1 hour ago</span></p>
                                </div>
                                <div class="clearfix"></div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="user_img"> <img src="~/images/big/in9.jpg" /></div>
                                <div class="notification_desc">
                                    <p>Lorem ipsum dolor</p>
                                    <p><span>1 hour ago</span></p>
                                </div>
                                <div class="clearfix"></div>
                            </a>
                        </li>
                        <li>
                            <div class="notification_bottom">
                                <a href="#">See all messages</a>
                            </div>
                        </li>
                    </ul>
                </li>
                <li class="dropdown head-dpdn">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-bell"></i><span class="badge blue">3</span></a>
                    <ul class="dropdown-menu">
                        <li>
                            <div class="notification_header">
                                <h3>You have 3 new notification</h3>
                            </div>
                        </li>
                        <li>
                            <a href="#">
                                <div class="user_img"> <img src="~/images/big/in8.jpg" /></div>
                                <div class="notification_desc">
                                    <p>Lorem ipsum dolor</p>
                                    <p><span>1 hour ago</span></p>
                                </div>
                                <div class="clearfix"></div>
                            </a>
                        </li>
                        <li class="odd">
                            <a href="#">
                                <div class="user_img"> <img src="~/images/big/in6.jpg" /></div>
                                <div class="notification_desc">
                                    <p>Lorem ipsum dolor</p>
                                    <p><span>1 hour ago</span></p>
                                </div>
                                <div class="clearfix"></div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="user_img"> <img src="~/images/big/in7.jpg" /></div>
                                <div class="notification_desc">
                                    <p>Lorem ipsum dolor</p>
                                    <p><span>1 hour ago</span></p>
                                </div>
                                <div class="clearfix"></div>
                            </a>
                        </li>
                        <li>
                            <div class="notification_bottom">
                                <a href="#">See all notifications</a>
                            </div>
                        </li>
                    </ul>
                </li>
                <li class="dropdown head-dpdn">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-tasks"></i><span class="badge blue1">9</span></a>
                    <ul class="dropdown-menu">
                        <li>
                            <div class="notification_header">
                                <h3>You have 8 pending task</h3>
                            </div>
                        </li>
                        <li>
                            <a href="#">
                                <div class="task-info">
                                    <span class="task-desc">Database update</span><span class="percentage">40%</span>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="progress progress-striped active">
                                    <div class="bar yellow" style="width:40%;"></div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="task-info">
                                    <span class="task-desc">Dashboard done</span><span class="percentage">90%</span>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="progress progress-striped active">
                                    <div class="bar green" style="width:90%;"></div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="task-info">
                                    <span class="task-desc">Mobile App</span><span class="percentage">33%</span>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="progress progress-striped active">
                                    <div class="bar red" style="width: 33%;"></div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="task-info">
                                    <span class="task-desc">Issues fixed</span><span class="percentage">80%</span>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="progress progress-striped active">
                                    <div class="bar  blue" style="width: 80%;"></div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <div class="notification_bottom">
                                <a href="#">See all pending tasks</a>
                            </div>
                        </li>
                    </ul>
                </li>
                <div class="clearfix"> </div>
            </ul>
            <div class="clearfix"> </div>
        </div>
        <!--notification menu end -->

        <div class="clearfix"> </div>
    </div>
    <div class="profile_details w3l">
        <ul>
            <li class="dropdown profile_details_drop">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                    <div class="profile_img">
                        <span class="prfil-img"><img src="~/images/big/in4.jpg" alt=""> </span>
                        <div class="user-name">
                            <p>Malorum</p>
                            <span>Administrator</span>
                        </div>
                        <i class="fa fa-angle-down"></i>
                        <i class="fa fa-angle-up"></i>
                        <div class="clearfix"></div>
                    </div>
                </a>
                <ul class="dropdown-menu drp-mnu">
                    <li> <a href="#"><i class="fa fa-cog"></i> Settings</a> </li>
                    <li> <a href="#"><i class="fa fa-user"></i> Profile</a> </li>
                    <li> <a href="#"><i class="fa fa-sign-out"></i> Logout</a> </li>
                </ul>
            </li>
        </ul>
    </div>

    <div class="clearfix"> </div>
</div>
<div class="grid-form1">
    <h3>Nhập thông tin sản phẩm</h3>
    <div class="tab-content">
        <div class="tab-pane active" id="horizontal-form">
            <form class="form-horizontal">

                <div class="form-group">
                    <label for="disabledinput" class="col-sm-2 control-label">Mã sản phẩm</label>
                    <div class="col-sm-10">
                        <input disabled="disabled" type="text" class="form-control1" id="txtproductid" placeholder="Bạn không cần nhập mã sản phẩm">
                    </div>
                </div>
                <div class="form-group">
                    <label for="disabledinput" class="col-sm-2 control-label">Nhập tên sản phẩm</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control1" id="txtproductname" placeholder="Nhập tên sản phẩm">
                    </div>
                </div>
                <div class="form-group">
                    <label for="disabledinput" class="col-sm-2 control-label">Nhập giá sản phẩm</label>
                    <div class="col-sm-10">
                        <input type="number" class="form-control1" id="txtprice" placeholder="Nhập giá sản phẩm">
                    </div>
                </div>
                <div class="form-group">
                    <label for="disabledinput" class="col-sm-2 control-label">Nhập giá khuyến mãi</label>
                    <div class="col-sm-10">
                        <input type="number" class="form-control1" id="txtdiscount" placeholder="Nhập giá khuyến mãi">
                    </div>
                </div>
                <div class="form-group">
                    <label for="disabledinput" class="col-sm-2 control-label">Nhập số lượng</label>
                    <div class="col-sm-10">
                        <input type="number" class="form-control1" id="txttotal" placeholder="Nhập số lượng">
                    </div>
                </div>
                <div class="form-group">
                    <label for="disabledinput" class="col-sm-2 control-label">Chọn ngày</label>
                    <div id="filterDate2">

                        <div class="col-sm-7">
                            <div class='input-group date ' id='datepicker-is'>
                                <input type='text' class="form-control" id="txtcreateday" />
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="form-group">
                    <label for="disabledinput" class="col-sm-2 control-label">Mô tả</label>
                    <div class="col-sm-10">
                        <textarea name="editor1" id="txtnote"></textarea>
                        <script>
                            CKEDITOR.replace('editor1');
                        </script>
                    </div>
                </div>


                <div class="form-group">
                    <label for="disabledinput" class="col-sm-2 control-label">Chọn hình </label>
                    <div class="col-sm-10">
                        <input type="file" class="form-control1" id="picture" placeholder="Nhập tên loại">
                    </div>
                </div>
                <div class="form-group">
                    <label for="selector1" class="col-sm-2 control-label">Mã Loại</label>
                    <div class="col-sm-8">
                        <select name="selector1" id="txtlineid" class="form-control1">
                            <option value="1">Điện thoại</option>
                            <option value="2">Máy tính</option>
                            <option value="3">Đồng hồ</option>
                            <option value="4">tablet</option>
                            <option value="5">Phụ kiện</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="selector1" class="col-sm-2 control-label">Dropdown Select</label>
                    <div class="col-sm-8">
                        <select name="selector1" id="txtsupplierid" class="form-control1">
                            <option>Samsung</option>
                            <option>Iphone</option>
                            <option>Nokia</option>
                            <option>Oppo</option>
                            <option>Huwai</option>
                            <option>Xiaomi</option>
                            <option>...</option>


                        </select>
                    </div>
                </div>
                <div class="form-group" style="text-align:center">
                    <button class="btn-primary btn" onclick="validateInsertLinePeoduct()">Submit</button>
                    <a asp-controller="admin" asp-action="index"><button class="btn-default btn">Trở về</button></a>
                </div>

            </form>

        </div>
    </div>


    @section script{
        <script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment-with-locales.js"></script>
        <script src="https:///[version.number]/[distribution]/ckeditor.js"></script>
        <script type="text/javascript" src="//code.jquery.com/jquery-2.1.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>
        <script src="~/js/admin/lineproduct/adinsertlineproduct.js"></script>
        <script>
            //date picker
            $(document).ready(function () {
                $('#datepicker-is').datetimepicker({
                    format: 'DD/MM/YYYY',
                    extraFormats: false,
                    stepping: 1,
                    minDate: false,
                    maxDate: false,
                    useCurrent: true,
                    collapse: true,
                    defaultDate: false,
                    disabledDates: false,
                    enabledDates: false,
                    icons: {
                        time: 'glyphicon glyphicon-time',
                        date: 'glyphicon glyphicon-calendar',
                        up: 'glyphicon glyphicon-chevron-up',
                        down: 'glyphicon glyphicon-chevron-down',
                        previous: 'glyphicon glyphicon-chevron-left',
                        next: 'glyphicon glyphicon-chevron-right',
                        today: 'glyphicon glyphicon-screenshot',
                        clear: 'glyphicon glyphicon-trash'
                    },
                    useStrict: false,
                    sideBySide: false,
                    daysOfWeekDisabled: [],
                    calendarWeeks: false,
                    viewMode: 'years',
                    toolbarPlacement: 'default',
                    showTodayButton: false,
                    showClear: false,
                    widgetPositioning: {
                        horizontal: 'auto',
                        vertical: 'auto'
                    }
                });
            });
        </script>
    }



