@{
    ViewData["Title"] = "Home Page";
}

@section Css{ 
    <link rel="stylesheet" type="text/css" href="~/css/user/user_home.css">
}
    <div class="k main-form">
        <div class="k form-body-item">
            <span class="k t text-title-area">Danh mục sản phẩm bán chạy</span>
            <div class="k boder-item">
                <div class="k form-item">
                    <div class="k img-product">
                        <div class="form-detail-product">
                            <i title="Thêm vào giỏ hàng" class="fa fa-cart-plus icon-product" aria-hidden="true"></i>
                            <i title="Xem chi tiết mặt hàng" class="fa fa-info icon-product" aria-hidden="true"></i>
                        </div>
                    </div>
                    <span class="k t name-product">Điện thoại di động Oppo</span>
                    <span class="k t price-product">12,000,000 đ <span class="t price-discount">11,500,000đ</span></span>
                </div>
            </div>
            <div class="k boder-item">
                <div class="k form-item">
                    <div class="k img-product">
                        <div class="form-detail-product">
                            <i title="Thêm vào giỏ hàng" class="fa fa-cart-plus icon-product" aria-hidden="true"></i>
                            <i title="Xem chi tiết mặt hàng" class="fa fa-info icon-product" aria-hidden="true"></i>
                        </div>
                    </div>
                    <span class="k t name-product">Điện thoại di động Oppo</span>
                    <span class="k t price-product">12,000,000 đ <span class="t price-discount">11,500,000đ</span></span>
                </div>
            </div>
            <div class="k boder-item">
                <div class="k form-item">
                    <div class="k img-product">
                        <div class="form-detail-product">
                            <i title="Thêm vào giỏ hàng" class="fa fa-cart-plus icon-product" aria-hidden="true"></i>
                            <i title="Xem chi tiết mặt hàng" class="fa fa-info icon-product" aria-hidden="true"></i>
                        </div>
                    </div>
                    <span class="k t name-product">Điện thoại di động Oppo</span>
                    <span class="k t price-product">12,000,000 đ <span class="t price-discount">11,500,000đ</span></span>
                </div>
            </div>
            <div class="k boder-item">
                <div class="k form-item">
                    <div class="k img-product">
                        <div class="form-detail-product">
                            <i title="Thêm vào giỏ hàng" class="fa fa-cart-plus icon-product" aria-hidden="true"></i>
                            <i title="Xem chi tiết mặt hàng" class="fa fa-info icon-product" aria-hidden="true"></i>
                        </div>
                    </div>
                    <span class="k t name-product">Điện thoại di động Oppo</span>
                    <span class="k t price-product">12,000,000 đ <span class="t price-discount">11,500,000đ</span></span>
                </div>
            </div>
            <div class="k boder-item">
                <div class="k form-item">
                    <div class="k img-product">
                        <div class="form-detail-product">
                            <i title="Thêm vào giỏ hàng" class="fa fa-cart-plus icon-product" aria-hidden="true"></i>
                            <i title="Xem chi tiết mặt hàng" class="fa fa-info icon-product" aria-hidden="true"></i>
                        </div>
                    </div>
                    <span class="k t name-product">Điện thoại di động Oppo</span>
                    <span class="k t price-product">12,000,000 đ <span class="t price-discount">11,500,000đ</span></span>
                </div>
            </div>

        </div>
        <div class="k form-body-item">
            <span class="k t text-title-area">Danh mục sản phẩm mới</span>
            <div class="k boder-item">
                <div class="k form-item">
                    <div class="k img-product">
                        <div class="form-detail-product">
                            <i title="Thêm vào giỏ hàng" class="fa fa-cart-plus icon-product" aria-hidden="true"></i>
                            <i title="Xem chi tiết mặt hàng" class="fa fa-info icon-product" aria-hidden="true"></i>
                        </div>
                    </div>
                    <span class="k t name-product">Điện thoại di động Oppo</span>
                    <span class="k t price-product">12,000,000 đ <span class="t price-discount">11,500,000đ</span></span>
                </div>
            </div>
            <div class="k boder-item">
                <div class="k form-item">
                    <div class="k img-product">
                        <div class="form-detail-product">
                            <i title="Thêm vào giỏ hàng" class="fa fa-cart-plus icon-product" aria-hidden="true"></i>
                            <i title="Xem chi tiết mặt hàng" class="fa fa-info icon-product" aria-hidden="true"></i>
                        </div>
                    </div>
                    <span class="k t name-product">Điện thoại di động Oppo</span>
                    <span class="k t price-product">12,000,000 đ <span class="t price-discount">11,500,000đ</span></span>
                </div>
            </div>
            <div class="k boder-item">
                <div class="k form-item">
                    <div class="k img-product">
                        <div class="form-detail-product">
                            <i title="Thêm vào giỏ hàng" class="fa fa-cart-plus icon-product" aria-hidden="true"></i>
                            <i title="Xem chi tiết mặt hàng" class="fa fa-info icon-product" aria-hidden="true"></i>
                        </div>
                    </div>
                    <span class="k t name-product">Điện thoại di động Oppo</span>
                    <span class="k t price-product">12,000,000 đ <span class="t price-discount">11,500,000đ</span></span>
                </div>
            </div>
            <div class="k boder-item">
                <div class="k form-item">
                    <div class="k img-product">
                        <div class="form-detail-product">
                            <i title="Thêm vào giỏ hàng" class="fa fa-cart-plus icon-product" aria-hidden="true"></i>
                            <i title="Xem chi tiết mặt hàng" class="fa fa-info icon-product" aria-hidden="true"></i>
                        </div>
                    </div>
                    <span class="k t name-product">Điện thoại di động Oppo</span>
                    <span class="k t price-product">12,000,000 đ <span class="t price-discount">11,500,000đ</span></span>
                </div>
            </div>
            <div class="k boder-item">
                <div class="k form-item">
                    <div class="k img-product">
                        <div class="form-detail-product">
                            <i title="Thêm vào giỏ hàng" class="fa fa-cart-plus icon-product" aria-hidden="true"></i>
                            <i title="Xem chi tiết mặt hàng" class="fa fa-info icon-product" aria-hidden="true"></i>
                        </div>
                    </div>
                    <span class="k t name-product">Điện thoại di động Oppo</span>
                    <span class="k t price-product">12,000,000 đ <span class="t price-discount">11,500,000đ</span></span>
                </div>
            </div>

        </div>
    </div>

@section Scripts{ 

}